<section class="teach-box clearfiex">
  <div class="container">
    <%= render 'nav' %>

    <div class="content-box">
      <div class="content">
        <p class="custom">
          <span><%= image_tag(image_path("queens/custom.png")) %></span>
          <span>蚂蚁共和</span>
          <span>antsrepublic@email.com</span>
        </p>
      </div>

      <div class="content">
        <p class="custom">
          <span><%= image_tag(image_path("queens/custom.png")) %></span>
          <span>蚂蚁共和</span>
          <span>antsrepublic@email.com</span>
        </p>
      </div>
      <div class="content">
        <p class="custom">
          <span><%= image_tag(image_path("queens/custom.png")) %></span>
          <span>蚂蚁共和</span>
          <span>antsrepublic@email.com</span>
        </p>
      </div>
      <div class="content">
        <p class="custom">
          <span><%= image_tag(image_path("queens/custom.png")) %></span>
          <span>蚂蚁共和</span>
          <span>antsrepublic@email.com</span>
        </p>
      </div>
      <div class="content">
        <p class="custom">
          <span><%= image_tag(image_path("queens/custom.png")) %></span>
          <span>蚂蚁共和</span>
          <span>antsrepublic@email.com</span>
        </p>
      </div>

    </div>

  </div>
<section>
