<section class="teach-box clearfiex">
  <div class="container">
    <%= render 'nav' %>

    <div class="content-box">
      <div class="content">
        <h5>1、平台使用</h5>
        <p>a)蚂蚁共和是你的搜索平台：随时根据项目关键词、近似案例搜索你想要的优质案例、蚁后资源</p>
        <p>b)蚂蚁共和是你的分享平台：随时为你推送同行最新人气作品，让您的作品一键分享全网平台</p>
        <p>c)蚂蚁共和是你的交易平台：随时查看成果，监管项目流程</p>
      </div>

      <div class="content-noborder">
        <h5>2、交易流程</h5>
        <p>发布需求——蚁后相应——项目监管——验收付款（4步流程图）</p>
        <p class="owner-p"><%= image_tag(image_path("queens/part_one.png"),class:'owner-img') %></p>
        <p class="owner-p"><%= image_tag(image_path("queens/part_two.png"),class:'owner-img') %></p>
        <p class="owner-p"><%= image_tag(image_path("queens/part_three.png"),class:'owner-img') %></p>
        <p class="owner-p"><%= image_tag(image_path("queens/part_four.png"),class:'owner-img') %></p>
      </div>

    </div>

  </div>
<section>
