<p id="notice"><%= notice %></p>

<p>
  <strong>Phone:</strong>
  <%= @profile.phone %>
</p>

<p>
  <strong>Company:</strong>
  <%= @profile.company %>
</p>

<p>
  <strong>Qq:</strong>
  <%= @profile.qq %>
</p>

<p>
  <strong>Wechat:</strong>
  <%= @profile.wechat %>
</p>

<p>
  <strong>Verify img1:</strong>
  <%= @profile.verify_img1 %>
</p>

<p>
  <strong>Verify img2:</strong>
  <%= @profile.verify_img2 %>
</p>

<p>
  <strong>Verify img3:</strong>
  <%= @profile.verify_img3 %>
</p>

<p>
  <strong>Address:</strong>
  <%= @profile.address %>
</p>

<p>
  <strong>Other:</strong>
  <%= @profile.other %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
