<% [:danger].each do |key| %>
  <% if flash[key] %>
    <%= content_tag :div, flash[key], :id=> key, class: "text-center alert alert-#{key}" %> 
  <% end %>
<% end %> 

<section style="background-color:#ECF4F7" class='userLogin'>
	<div class="container">
	    <div class="row">
			     
			<div class="col-sm-12 col-md-offset-3 col-md-6">
				<div class="thumbnail info-thumbnail">
					<div class="caption" id="jackLogin">
						<h3 class="col-md-offset-3 col-md-9">登录</h3>

						<%= simple_form_for(:session, url: login_path, html:{class:'form-horizontal'}) do |f| %>
							<%= f.error_notification %>
							<div class="form-group">
								<%= f.label :email, class:'col-sm-3 text-right', label:User.human_attribute_name("email") %>
								<div class="col-sm-9">
									<%= f.input_field :email, class:'form-control' %>
								</div>
							</div>

							<div class="form-group">
								<%= f.label :password, class:'col-sm-3 text-right', label:User.human_attribute_name("password") %>
								<div class="col-sm-9">
									<%= f.input_field :password, class:'form-control' %>
								</div>
							</div>
							<div class="col-sm-offset-3 col-sm-9">
							 	<%= f.button :submit, t(:login), class:'btn btn-block btn-info' %>
							</div>
						<% end %>
					</div>
					<!-- 快速登录 -->
					<div style="clear: both"></div>
					<div class="fastLogin">
						<h3>快速登录</h3>
						<div class="btn-group">
							<a href="#" class="xinlang" title="新浪登录"></a>
							<a href="#" class="weChat" title="微信登录"></a>
							<a href="#" class="QQ" title="qq登录"></a>
						</div>
					</div>
				</div>
			</div>
		</div>      
	</div>
</section>
