<% [:danger].each do |key| %>
  <% if flash[key] %>
    <%= content_tag :div, flash[key], :id=> key, class: "text-center alert alert-#{key}" %>
  <% end %>
<% end %>
<section class='userLogin'>
  <div class="mask-bg">
  	<div class="container">
  		<div class="row">
  			<div class='col-sm-12 col-md-offset-3 col-md-6'>
  				<h3 class="text-center">重置密码</h3>
  			</div>
  		</div>
  	  <div class="row">
  			<div class="col-sm-12 my-offset-3 col-md-5">
  				<div class="thumbnail info-thumbnail">
  					<div class="caption" id="jackLogin">
              <%= form_for @user, :url => password_reset_path(params[:id]) do |f| %>
                <% if @user.errors.any? %>
                  <div class="error_messages">
                    <ul>
                      <% for message in @user.errors.full_messages %>
                        <li><%= message %></li>
                      <% end %>
                    </ul>
                  </div>
                <% end %>
                <div class="form-group" style="display:inline-block;width:100%">
                  <%= f.label :password, class:'col-sm-3 text-right' %>
  								<div class="col-sm-9">
                    <%= f.password_field :password, class:'form-control' %>
                  </div>
                </div>

                <div class="form-group" style="display:inline-block;width:100%">
                  <%= f.label :password_confirmation, class:'col-sm-3 text-right' %>
  								<div class="col-sm-9">
                    <%= f.password_field :password_confirmation, class:'form-control' %>
                  </div>
                </div>
                <div class="actions"><%= f.submit "Update Password", class: 'btn btn-block btn-ants' %></div>
              <% end %>
  			    </div>
  			  </div>
  		  </div>
  		</div>
  	</div>
  </div>
</section>
