<%= simple_form_for(@need) do |f| %>
  <%= f.error_notification %>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <%= f.input :title, placeholder: '请输入项目名称', required: true, label: false  %>
        <%= f.input :category, collection: [['效果图','效果图'],["影片","影片"],["多媒体","多媒体"]], required: true, label: false  %>
    </div>


    <div class="row">
      <div class="col-lg-4">
        <%= f.input :ending_date, required: true %>
      </div>
      <div class="col-lg-4">
        <%= f.input :final_date, required: true %> 
      </div>
      <div class="col-lg-4">
        <%= f.input :price_range, priority: [ "高端" ], collection: [ "高端", "中端", "低端"], required: true %>
        <!--todo, 根据 radio_button 显示不同提示
          效果图人视：高端大于5k／中端2～5k／低端1～2k
          效果图鸟瞰：高端大于9k／中端3～9k／低端1～3k以下
          影     片：高端大于30w／中端15～30w／低端8～15w以下
        -->   
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <%= f.input :description, input_html: { class: 'desc_textarea' } %>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <h5 class="project_tags_header">
          项目关键字
        </h5>
      </div>
    </div>
    <div class="row project_tags_block">
      <div class="col-lg-12">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-pills nav-stacked" role="tablist">
          
          <%- @tags.each_with_index do |tag_list, i|-%>
          <li role="presentation" 
            <%- if i == 0 -%>
              class="active"
            <%- end -%>
          >
            <a href="#<%= tag_list[1][0]['id'] %>" aria-controls="home" role="tab" data-toggle="tab">
              <%= tag_list[0]%>
            </a>
          </li>
          <%- end -%>
        </ul>


        <!-- Tab panes -->
        <div class="tab-content">
          
          <%- @tags.each_with_index do |tag_list,i|-%>
          
          <div role="tabpanel" class="tab-pane 
            <%- if i == 0 -%>
              active
            <%- end -%>
          " id="<%= tag_list[1][0]['id'] %>">
            <% tag_list[1][1]['tags'].each do |tag| %>
              <%- 
                @flag = false
                @need.tag_list.each do |t|
                  @flag = true if t == tag and !t.blank?
                end
              -%>
            <span class="tag">
              
              
              <%- if @flag -%>
                <%= check_box_tag 'tags[]', tag, :checked  %>
              <% else %>
                <%= check_box_tag 'tags[]', tag  %> 
              <% end %>
              <label for=""><%= tag %></label>
            </span>

            <% end %>

          </div>
          <%- end -%>
        </div>
      </div>  
    </div>
   
<!-- todo:
    <h3>参考案例</h3>
    <p>
     add products
    </p>
    <hr/>    
    <h3>指定蚁后</h3>
    <p>
     add ants
    </p>
     -->

     <div class="row form_submit_block">
       <div class="col-lg-12 text-center">
          <%= f.button :submit, class:'btn btn-primary btn-lg', value: t('new_need') if params[:id].blank? %>
          <%= f.button :submit, value: t('edit_need') unless params[:id].blank? %>
       </div>
     </div>
  </div>

<% end %>
