<%= simple_form_for(@need) do |f| %>
  <%= f.error_notification %>
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <%= f.input :title, placeholder: '请输入项目名称', required: true, label: false  %>
      </div>
      <div class="col-lg-4">
        <%= f.input :category, collection: [['效果图','效果图'],["影片","影片"],["多媒体","多媒体"]], required: true, label: false, prompt: "请选择需求类型"   %>
      </div>
    </div>


    <div class="row">
      <div class="col-lg-4">
        <%= f.input :ending_date, required: true %>
      </div>
      <div class="col-lg-4">
        <%= f.input :final_date, required: true %>
      </div>
      <div class="col-lg-4">
        <%= f.input :price_range, priority: [ "高端" ], collection: [ "高端", "中端", "低端"], required: true, prompt: "请选择价格范围" %>

      </div>
    </div>


    <!-- 控制弹出层的内容 -->
    <div class="box">
      <h5>参考案例</h5>
      <div class="case-list">
        <% if @need.new_record? %>
         <ul>
           <li class="add-case">点击添加参考案例</li>
         </ul>
        <% end %>
          <%  if !@need.new_record? %>
            <ul>
              <% Product.where(id: @reference_product_ids).each do |product| %>
                <li class="col-case-and-queen"><span><%= product.title %></span> <span class="delete_btn btn" data-id="<%= product.id%>" data-type="case">x 删除</span></li>
              <% end %>
              <li class="add-case">点击添加参考案例</li>
            </ul>
          <% end %>
      </div>


      <div class="hide-box">
        <div class="select-tab">
          <span class="tab-search">搜索</span>
          <span class="tab-vote">我的收藏</span>
        </div>
        <div class="close-hide">
          x
        </div>

        <div class="selected_case_list" style="height: auto;">
          <div class="select_case clearfix" id="chooseCase">
            <div class="col-md-12">
              <%= f.input :reference_product_ids, as:'hidden' %>
              <div role="tabpanel">

                <div class="tab-content">
                  <div role="tabpanel" class="tab-pane active" id="case-seach">
                    <select name="case_search" class="caseSelector"></select>
                  </div>

                </div>
              </div>
            </div>

        </div>



          <% if @my_fav_products.empty? %>
          <div role="tabpanel" class="tab-pane  has-pane" id="case-bookmark">
            <p class="txt-empty empty-first">暂无收藏案例</p>
          <% else %>
          <div role="tabpanel" class="tab-pane" id="case-bookmark">
            <div class="btn-left"></div>
            <div class="btn-right"></div>
          <% end %>
            <div class="row">
              <div class="">
                <% @my_fav_products.each do |product| %>
                <div class="col-md-1" style="text-align: center;">
                  <div class="fav-product">
                    <p>
                      <%= image_tag(image_path(product.avatar.small_url))%>
                    </p>
                    <h6>
                      <%= product.title %>
                    </h6>
                    <p>
                      <a href="javascript:void(0);" data-img="<%= product.avatar.small_url %>" data-id="<%= product.id%>" data-title="<%= product.title %>" class="add-product">
                        添加
                      </a>
                    </p>
                  </div>
                </div>
                <% end %>
              </div>
            </div>
        </div>

        <!-- <div class="edit-box clearfix">
          <h5>编辑案例</h5>
          <% if @need.new_record? %>
            <p class="txt-empty">暂无编辑案例</p>
          <% end %>
          <div class="btn-left"></div>
          <div class="btn-right"></div>
          <%  if !@need.new_record? %>
            <% Product.where(id: @reference_product_ids).each do |product| %>
            <div class="col-md-1 col-case-and-queen col-case text-center">
              <a class="queen" href="javascript:void(0)">
                <p>
                  <%= image_tag(image_path(product.avatar.small_url))%>
                </p>
                <h6>
                  <%= product.title %>
                </h6>
                <span class="delete_btn btn" data-id="<%= product.id%>" data-type="case">
                  X
                </span>
              </a>
            </div>
            <% end %>
          <% end %>
        </div> -->




        <!-- 关闭弹出层 -->
        <!-- <button type="button" class="btn btn-info defaultHide" id="sureChoose">确定</button> -->
      </div>
    </div>
  </div>


    <div class="queen-box">
      <h5>指定蚁后</h5>
      <div class="select_queen">
        <div class="" style="margin-bottom:15px;">
          <%= f.input :reference_queen_ids, label:false, as:"hidden" %>
          <select name="queen_search" class="queenSelector">
          </select>
        </div>
      </div>
      <div class="row selected_queen_list">
        <div class="btn-left"></div>
        <div class="btn-right"></div>

          <%  if !@need.new_record? %>
            <% @selectedQueens.each do |user| %>
            <div class="col-md-2 col-case-and-queen text-center">
              <a class="queen" href="javascript:void(0)">
                <p>
                  <%= image_tag(image_path(user.avatar.small_url))%>
                </p>
                <h6>
                  <%= user.name %>
                </h6>
                <span class="delete_btn btn" data-id="<%= user.id%>" data-type="queen">
                  x
                </span>
              </a>
            </div>
            <% end %>
          <% end %>

      </div>
    </div>






     <div class="row form_submit_block">
       <div class="col-lg-12 text-center">
          <%= f.button :submit, class:'btn btn-ants btn-lg', value: t('new_need') if params[:id].blank? %>
          <%= f.button :submit, value: t('edit_need') unless params[:id].blank? %>
          <%= link_to t('back'), project_list_user_path(current_user) %>
       </div>
     </div>


<% end %>
<% content_for :page_js_block do %>
  <%= javascript_include_tag 'edit_need_fuc.js' %>
<% end %>
