  <div class="container">
    <div class="row background-orange">
      <div class="col-md-12 text-white">
        <%= link_to '返回项目列表', project_list_user_path(current_user) %>
        <h4>上传资料</h4>
        <%= simple_form_for(@need) do |f|  %>
          <div class="upload-img-form">
            <div class="clearfix">
              <label for="source-name" class="col-md-2">资料名称</label>
              <div class="col-md-10">
                <%= f.input :material_name, label: false, wrapper: false %>
              </div>
            </div>
            <%= render 'img_form' %>
          </div>

          <div class="remarks">
            <div>
              备注
            </div>
            <div class="">
              <%= f.input :remark, label: false, wrapper: false, input_html: { rows: 8, style: "width:100%", placeholder: "请输入项目说明，也可以上传图片来帮助我们更好的理解您的需求和想法" } %>
            </div>
          </div>

            <%= f.button :submit, '提交资料', class: 'submit-btn' %>
        </div>
        <% end %>
      <%= render "tasks/comment", :locals => {comments: @comments} %>
    </div>
  </div>
