  <div class="container">
    <div class="row background-orange">
      <div class="col-md-12 text-white">
        <%= link_to '返回项目列表', project_list_user_path(current_user) %>
        <h4>上传资料</h4>
        <%= render 'img_form' %>
        <%= simple_form_for(@need) do |f|  %>
          <div class="remarks">
            <div>
              备注
            </div>
            <div class="">
              <%= f.input :remark, label: false, wrapper: false, input_html: { rows: 8, style: "width:100%", placeholder: "请输入项目说明，也可以上传图片来帮助我们更好的理解您的需求和想法" } %>
            </div>
          </div>
          <%= f.input :reference_product_ids, label:false, as:'hidden' %>
          <%= f.input :reference_queen_ids, label:false, as:"hidden" %>

            <%= f.button :submit, '提交资料', class: 'submit-btn' %>
        </div>
        <% end %>
        <div style="display: none">
          <%= render "tasks/comment", :locals => {comments: @comments} %>
        </div>
    </div>
  </div>
