.row.project-plan
  .col-md-5
    .responsive-calendar.background-lead.color-white
      .controls
        %a.btn.btn-lead.darken.pull-left{:'data-go' => "prev"}
          %i.fa.fa-chevron-left
        %a.btn.btn-lead.darken.pull-right{:'data-go' => "next"}
          %i.fa.fa-chevron-right
        %h4
          %span{:'data-head-year'=>""}
          %span{:'data-head-month'=>""}
      .day-headers
        .day.header Mon
        .day.header Tue
        .day.header Wed
        .day.header Thu
        .day.header Fri
        .day.header Sat
        .day.header Sun
      .days.color-white{:'data-group'=>"days"}
  .col-md-7
    %ul.project-plan-list
      - @plans.each do |plan| 
        %li.plan-task
          %span.task-checkbox.text-center
            - check_flag = (plan.tasks.first.state == '甲方确认' ? true : false) if plan.tasks.first
            %input{:type => "checkbox", :value => "false", :disabled => "disabled", checked: check_flag}/
          - if check_flag
            %span.task-time
              %del= plan.dead_line
            %span.task-title
              %del= plan.title
          - else
            %span.task-time= plan.dead_line
            %span.task-title= plan.title
          %span.task-action
            - @planTasks = plan.tasks
            - if @planTasks.size > 0
              - @planTasks.each do |planTask|
                %a.btn.btn-primary{:href => "javascript:void(0);", :data=>{"id":planTask.id}} 查看结果
        
            -elsif current_user.has_role? :queen
              = simple_form_for([@need, @task]) do |f|
                = f.input :plan_id, as:'hidden', input_html:{value:plan.id}
                = f.input :title, as:'hidden', input_html:{value:plan.title}
                = f.input :need_id, as:'hidden', input_html:{value:need.id}
                = f.button :submit,class:'btn btn-success'

