.row.project-plan
  .col-md-5.calendar-left
    .responsive-calendar.background-white
      .controls.color-white
        %a.btn.pull-left{:'data-go' => "prev"}
          %i.fa.fa-chevron-left
        %a.btn.pull-right{:'data-go' => "next"}
          %i.fa.fa-chevron-right
        %h4
          %span{:'data-head-year'=>""}
          %span{:'data-head-month'=>""}
      .day-headers
        .day.header Mon
        .day.header Tue
        .day.header Wed
        .day.header Thu
        .day.header Fri
        .day.header Sat
        .day.header Sun
      .days{:'data-group'=>"days"}
  .col-md-7
    %ul.project-plan-list
      - @lastFinishPlanFind = false
      - @plans.each_with_index do |plan, index|
        %li.plan-task.color-white
          %span.task-checkbox.text-center
            - check_flag = (plan.tasks.first.state == '甲方确认' ? true : false) if plan.tasks.first
            %input{:type => "checkbox", :value => "false", :disabled => "disabled", checked: check_flag}/
          - if check_flag
            %span.task-time
              %del= plan.dead_line
            %span.task-title
              %del= plan.title
          - else
            %span.task-time= plan.dead_line
            %span.task-title= plan.title

          %span.task-action
            - @planTasks = plan.tasks

            - if @planTasks.size > 0
              - if @planTasks.first.state == '甲方确认'
                %a.btn.btn-success{:href => "javascript:void(0);"} 已通过
                - @lastFinishPlanFind = true
              - else
                - if current_user.has_role? :queen
                  %a.btn.btn-primary{:href => "javascript:void(0);"} 查看
                - else
                  %a.btn.btn-primary{:href => "javascript:void(0);"} 等待提交
                - @lastFinishPlanFind = false

            - elsif current_user.has_role? :queen
              - if (index > 0 and @lastFinishPlanFind) or index < 1
                = simple_form_for([@need, @task]) do |f|
                  = f.input :plan_id, as:'hidden', input_html:{value:plan.id}
                  = f.input :title, as:'hidden', input_html:{value:plan.title}
                  = f.input :need_id, as:'hidden', input_html:{value:need.id}
                  = f.button :submit,class:'btn btn-primary'
                - @lastFinishPlanFind = false
