.row.project-plan
  .col-md-5.calendar-left
    .responsive-calendar.background-white.calendar-queen
      .controls.color-white
        %a.btn.pull-left{:'data-go' => "prev"}
          %i.fa.fa-chevron-left
        %a.btn.pull-right{:'data-go' => "next"}
          %i.fa.fa-chevron-right
        %h4
          %span{:'data-head-year'=>""}
          %span{:'data-head-month'=>""}
      .day-headers
        .day.header Mon
        .day.header Tue
        .day.header Wed
        .day.header Thu
        .day.header Fri
        .day.header Sat
        .day.header Sun
      .days{:'data-group'=>"days"}
  .col-md-7
    %ul.project-plan-list
      - @lastFinishPlanFind = false
      - @plans.each_with_index do |plan, index|
        %li.plan-task.color-white
          %span.task-checkbox.text-center
            - check_flag = (plan.tasks.first.state == '甲方确认' ? true : false) if plan.tasks.first
            //%input{:type => "checkbox", :value => "false", :disabled => "disabled", checked: check_flag}/
          - if check_flag
            %span.task-time
              %del= plan.dead_line
            %span.task-title
              %del= plan.title
          - else
            %span.task-time= plan.dead_line
            %span.task-title= plan.title
          %span.plan-action
            = link_to '删除', plan, method: :delete, class: "btn btn-primary"
