.row.project-comment
  %h2 任务讨论
  %ul
    - @comments.each do |comment|
      %li
        %p{style: comment.user.has_role?(:queen) ? 'color: #666' : 'color: red'}= comment.title
        
        %div
          %span.label.label-info= comment.created_at.strftime('%Y-%m-%d %H:%M')
          |
          %span.label.label-warning= comment.user.name if comment.user
            
  - if @need.state != '项目完成'
    .need-comment
      = simple_form_for :comment, url: create_comment_need_path(@need) do |f|
        = f.text_area :title, label: false, class:'project-comment-textarea col-sm-12'
        = f.button :submit, value: '提交评论', class:'btn btn-primary submitComment'
