%section.user-center-section
  .container
    .row
      = render "users/menu"
    .row.background-white
      .col-md-12
        .content
          #notice= notice
          .row
            %p
              %a.back-to-projects.text-center{:href => "#"} 返回项目列表
            .row.create-plan
              .col-md-12
                %h3.text-center
                  - if current_user.id == @need.queen_id then 
                    - if @need.state == '等待甲方'
                      计划已经提交,等待甲方确认
                    - else
                      你好！项目已经开始！请尽快制定任务计划，并提交给甲方确认
                    %p.text-center
                    %p
                      = link_to "制定计划", new_plan_path(need_id: @need.id), class: 'btn btn-primary'
                  
                      = link_to "提交计划", waitfor_need_path(@need), class: 'btn btn-info' if @need.plans.count > 0 and @need.state != '等待甲方'
                      
                  - else
                    - if @need.state == '等待甲方'
                      = link_to "确认计划", plan_confirm_need_path(@need), class: 'btn btn-primary'
                      = link_to "退回拒绝", plan_refuse_need_path(@need), class: 'btn btn-primary'
                    - else
                      你好! 请等待蚁后提交计划.

                
            / .row.re-receate-plan
            /   .col-md-12
            /     %h3.text-center 很可惜！甲方没有通过计划，请重新安排计划！
            /     %p.text-center
            /       %button.btn.btn-primary#newTaskModalBtn{:'data-toggle' => "modal",:'data-target' => "#editTaskModal"}
            /         重新安排计划
            .row.project-plan
              .col-md-5
                .responsive-calendar.background-lead.color-white
                  .controls
                    %a.btn.btn-lead.darken.pull-left{:'data-go' => "prev"}
                      %i.fa.fa-chevron-left
                    %a.btn.btn-lead.darken.pull-right{:'data-go' => "next"}
                      %i.fa.fa-chevron-right
                    %h4
                      %span{:'data-head-year'=>""}
                      %span{:'data-head-month'=>""}
                  .day-headers
                    .day.header Mon
                    .day.header Tue
                    .day.header Wed
                    .day.header Thu
                    .day.header Fri
                    .day.header Sat
                    .day.header Sun
                  .days.color-white{:'data-group'=>"days"}
              .col-md-7
                %ul.project-plan-list
                  - @plans.each do |plan| 
                    %li.plan-task
                      %span.task-checkbox.text-center
                        %input{:type => "checkbox", :value => "false", :disabled => "disabled"}/
                      %span.task-time= plan.dead_line
                      %span.task-title= plan.title
                      %span.task-action
                        = link_to 'Destroy', need_plan_path(@need, plan), method: :delete, data: { confirm: 'Are you sure?' } if @need.state == '项目开始'
          .row
            %h3 
              = link_to '提交成果', new_task_path(need_id: @need)
          .row.task-result
            - @tasks.each do |task|
              .row.task-result-header
                .col-md-2.text-center 
                  %h5
                    = "#{task.plan.title}[#{task.plan.dead_line}]" if task.plan
                .col-md-7
                  %h5
                    = task.title 
                .col-md-3
                  %h5
                    = task.plan.state if task.plan
                    = link_to 'show', need_task_path(@need, task)
                    = link_to 'Destroy', need_task_path(@need, task), method: :delete, data: { confirm: 'Are you sure?' }
            .row.task-result-files
              %h6 文件列表


.modal#editTaskModal{:tabindex=>"-1", :role => "dialog", :'aria-labelledby' =>"editTaskModalLabel"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{:type => "button", :'data-dismiss'=>"modal", :'aria-label' => "close"}
          %span{ :'aria-hidden' => "true"}
        %h4.modal-title#editTaskModalLabel 新建工作计划
      .modal-body.edit-project-task
        %p
          %a.new-task{:role=>'button', :'data-toggle'=>"collapse", :href => "#new-task-form", :'aria-expanded'=>"false", :'aria-controls' => "new-task-form"}
            %span.glyphicon.glyphicon-plus-sign
        .edit-task-list
          - @tasks.each do |task| 
            .task-unit{:id => "task-unit-"+task.id.to_s}
              .task-output
                %span.task-time= task.dead_line
                %span.task-title= task.title
                %span.task-action
                  %a.editTaskBtn{:href => "javascript:void(0);", data: {task:task.id.to_s}} 编辑

                  %a.delTaskBtn{:href => "javascript:void(0);", data: {task:task.id.to_s}} 删除

              .task-input.hidden
                %form{:action => "", :id => "task_f_"+task.id.to_s}
                  %span.task-time
                    %input{:type => "text", :name => "task[dead_line]", :value => task.dead_line}/
                  %span.task-title
                    %input{:type => "text", :name => "task[title]",:value => task.title}/
                  %span.task-action
                    %a.updateTaskBtn{:href => "javascript:void(0);", data: {task:task.id.to_s} } 保存
                    %a.cancleUpdateTaskBtn{:href => "javascript:void(0);", data:{task:task.id.to_s}} 取消
          .collapse#new-task-form
            .task-unit
              %form{:action => "", :id => "create_task_form"}
                %span.task-time
                  .form-group
                    %input.form-control{:type => "text",:placeholder => "请输入日期", :name => "task[dead_line]"}/
                %span.task-title
                  .form-group
                    %input.form-control{:type => "text",:name => "task[title]"}/
                %span.task-action
                  %a.createTaskBtn{:href => "javascript:void(0);", data:{need:@need.id}} 保存
      .modal-footer
        %button.btn.btn-default{:type=>'button', :'data-dismiss' => "modal"} 关闭
        %button.btn.btn-primary{:type=>'button'} 保存
:javascript
  var taskData={
    #{create_canlendar_data_obj_string(@tasks)}
  }
