%section.user-center-section
  .container
    .row
      = render "users/menu"
    .row.background-white
      .col-md-12
        .content
          #notice= notice
          .row.back-project-list
            %p
              %a.back-to-projects.text-center{:href => project_list_user_path(current_user)} 返回项目列表

          - if current_user.id == @need.queen_id then 
            - if @need.state == '等待甲方'
              = render "queen_waitfor_plan"
            - elsif @need.state == '乙方执行'
              = render "queen_begin_plan"
            - else
              = render "queen_create_plan"
          - else
            - if @need.state == '等待甲方'
              = render "partyA_check_plan"
            - else
              - if @need.state == "确认计划"
                = render "partyA_waitfor_plan"
              - else
                = render :partial => "partyA_begin_plan", :locals => {need:@need}

          - if @need.state == '乙方执行'
            = render :partial => "calendar", :locals => {plan:@plans, need:@need}


            - @tasks.each do |task|
              .row.task-result
                .task-result-header
                  .col-md-3
                    %h5.text-center= task.plan.title if task.plan
                  .col-md-7
                    %h5.color-black
                      .col-md-5= task.updated_at.strftime('%Y-%m-%d').to_s  
                      .col-md-5= link_to task.title, edit_task_path(task) if task.plan
                      .col-md-2= task.state if task.state

                  .col-md-2.task-status
                    - if task.state == '等待甲方' or task.state == '退回重来'
                      / - if current_user.has_role? :queen
                        
                      - if current_user.has_role? :owner
                        = link_to '认可成果', confirm_task_path(task) 
                        = link_to '退回重来', refuse_task_path(task)

                .task-result-files
                  .col-md-1
                    %h6 文件列表
                  .col-md-11
                    %ul
                      - task.attachments.each do |attachment|
                        %li.text-center
                          %p
                            = image_tag(image_path("#{attachment.file.url}?imageView2/1/w/200/h/200"),alt:attachment.file_name)
                          %p= link_to '删除附件', [task,attachment], method: :delete, data: { confirm: '确认需要删除附件?' }

                      - attachment = task.attachments.build
                      %li.text-center
                        = form_for attachment, :html => { :multipart => true, :id => "fileupload-#{task.id}"  } do |f|
                          %a.add_task_attachment.fileinput-button{:href => "javascript:void(0);"}
                            %span.glyphicon.glyphicon-plus
                            = f.file_field :file, :class=>"attachment_file_upload", :data=>{:url=>"/api/tasks/#{task.id}/attachments"}                       


            .row
              %h3.text-center 
                = link_to '项目最终完成', complete_need_path(@need), class: 'btn btn-primary' if @need.state == '乙方执行' and current_user.has_role? :owner


            .row
              %h2 用户评论
              %ul
                - @comments.each do |comment|
                  %li
                    %p
                      %strong= comment.title
                    %p= comment.comment
                    %div
                      %span.label.label-info= comment.created_at.strftime('%Y-%m-%d')
                      |
                      %span.label.label-warning= comment.user.name if comment.user
                      |
                      %span.label.label-danger= link_to t('destroy'), destroy_comment_need_path(@need, comment_id: comment), action: :delete
              .need-comment
                = simple_form_for :comment, url: create_comment_need_path(@need) do |f|
                  = f.input :title
                  = f.input :comment
                  = f.button :submit



        

.modal#editPlanModal{:tabindex=>"-1", :role => "dialog", :'aria-labelledby' =>"editPlanModalLabel"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %h4.modal-title.pull-left#editTaskModalLabel 新建工作计划
        = link_to "提交计划", waitfor_need_path(@need), class: 'btn btn-info pull-right' 
      .modal-body.edit-project-plan          
        .edit-plan-list
          - @plans.each do |plan| 
            .plan-unit{:id => "plan-unit-"+plan.id.to_s}
              .plan-output
                %span.plan-time= plan.dead_line
                %span.plan-title= plan.title
                %span.plan-action
                  %a.editPlanBtn{:href => "javascript:void(0);", data: {plan:plan.id.to_s}} 编辑
                  %a.delPlanBtn{:href => "javascript:void(0);", data: {plan:plan.id.to_s}} 删除

              .plan-input.hidden
                %form{:action => "", :id => "plan_f_"+plan.id.to_s}
                  %span.plan-time
                    .form-group
                      %input.form-control.deadLineDataPicker{:type => "text", :name => "plan[dead_line]", :value => plan.dead_line, :readonly => "readonly", :placeholder => "请选择日期"}/
                  %span.plan-title
                    .form-group
                      %input.form-control{:type => "text", :name => "plan[title]",:value => plan.title}/
                  %span.plan-action
                    %a.updatePlanBtn{:href => "javascript:void(0);", data: {plan:plan.id.to_s} } 保存
                    %a.cancleUpdatePlanBtn{:href => "javascript:void(0);", data:{plan:plan.id.to_s}} 取消
          .collapse#new-plan-form
            .plan-unit
              %form{:action => "", :id => "create_plan_form"}
                %span.plan-time
                  .form-group
                    %input.form-control.deadLineDataPicker{:type => "text", :placeholder => "请选择日期", :name => "plan[dead_line]", :readonly => "readonly"}/
                %span.plan-title
                  .form-group
                    %input.form-control{:type => "text",:name => "plan[title]"}/
                %span.plan-action
                  %a.createPlanBtn{:href => "javascript:void(0);", :data => {need:@need.id}} 保存
      .modal-footer
        %a.new-plan.pull-left{:role=>'button', :'data-toggle'=>"collapse", :href => "#new-plan-form", :'aria-expanded'=>"false", :'aria-controls' => "new-plan-form"}
          %span.glyphicon.glyphicon-plus-sign
          新增
        %button.btn.btn-default.pull-right{:type=>'button', :'data-dismiss' => "modal"} 暂不提交
        

- content_for :page_js_block do
  = javascript_include_tag 'task_fuc.js'

:javascript
  var taskData={
    #{create_canlendar_data_obj_string(@plans)}
  }
