%section.user-center-section
  .container
    .row
      = render "users/menu"
    .row.background-white
      .col-md-12
        .content
          #notice= notice
          .row
            %p
              %a.back-to-projects.text-center{:href => "#"} 返回项目列表
            .row.create-plan
              .col-md-12
                %h3.text-center 你好！项目已经开始！请尽快制定任务计划，并提交给甲方确认
                %p.text-center
                  %button.btn.btn-primary#newTaskModalBtn{:'data-toggle' => "modal",:'data-target' => "#editTaskModal"}
                    新建计划
            / .row.re-receate-plan
            /   .col-md-12
            /     %h3.text-center 很可惜！甲方没有通过计划，请重新安排计划！
            /     %p.text-center
            /       %button.btn.btn-primary#newTaskModalBtn{:'data-toggle' => "modal",:'data-target' => "#editTaskModal"}
            /         重新安排计划
            .row.project-plan
              .col-md-5
                .responsive-calendar.background-lead.color-white
                  .controls
                    %a.btn.btn-lead.darken.pull-left{:'data-go' => "prev"}
                      %i.fa.fa-chevron-left
                    %a.btn.btn-lead.darken.pull-right{:'data-go' => "next"}
                      %i.fa.fa-chevron-right
                    %h4
                      %span{:'data-head-year'=>""}
                      %span{:'data-head-month'=>""}
                  .day-headers
                    .day.header Mon
                    .day.header Tue
                    .day.header Wed
                    .day.header Thu
                    .day.header Fri
                    .day.header Sat
                    .day.header Sun
                  .days.color-white{:'data-group'=>"days"}
              .col-md-7
                %ul.project-plan-list
                  - @tasks.each do |task| 
                    %li.plan-task
                      %span.task-checkbox.text-center
                        %input{:type => "checkbox", :value => "false", :disabled => "disabled"}/
                      %span.task-time= task.dead_line
                      %span.task-title= task.title
                      %span.task-action
                        %a.btn.btn-primary#check-task-result{:href => "javascript:void(0);"}
                          查看结果
          .row
            %h3 任务结果
          .row.task-result
            .row.task-result-header
              .col-md-2.text-center 
                %h5 任务名称
              .col-md-7
                %h5 这是一个任务的标题名称
              .col-md-3
                %h5 任务状态
            .row.task-result-files
              %h6 文件列表


.modal#editTaskModal{:tabindex=>"-1", :role => "dialog", :'aria-labelledby' =>"editTaskModalLabel"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{:type => "button", :'data-dismiss'=>"modal", :'aria-label' => "close"}
          %span{ :'aria-hidden' => "true"}
        %h4.modal-title#editTaskModalLabel 新建工作计划
      .modal-body.edit-project-task
        %p
          %a.new-task{:role=>'button', :'data-toggle'=>"collapse", :href => "#new-task-form", :'aria-expanded'=>"false", :'aria-controls' => "new-task-form"}
            %span.glyphicon.glyphicon-plus-sign
        .edit-task-list
          - @tasks.each do |task| 
            .task-unit{:id => "task-unit-"+task.id.to_s}
              .task-output
                %span.task-time= task.dead_line
                %span.task-title= task.title
                %span.task-action
                  %a.editTaskBtn{:href => "javascript:void(0);", data: {task:task.id.to_s}} 编辑

                  %a.delTaskBtn{:href => "javascript:void(0);", data: {task:task.id.to_s}} 删除

              .task-input.hidden
                %form{:action => "", :id => "task_f_"+task.id.to_s}
                  %span.task-time
                    %input{:type => "text", :name => "task[dead_line]", :value => task.dead_line}/
                  %span.task-title
                    %input{:type => "text", :name => "task[title]",:value => task.title}/
                  %span.task-action
                    %a.updateTaskBtn{:href => "javascript:void(0);", data: {task:task.id.to_s} } 保存
                    %a.cancleUpdateTaskBtn{:href => "javascript:void(0);", data:{task:task.id.to_s}} 取消
          .collapse#new-task-form
            .task-unit
              %form{:action => "", :id => "create_task_form"}
                %span.task-time
                  .form-group
                    %input.form-control{:type => "text",:placeholder => "请输入日期", :name => "task[dead_line]"}/
                %span.task-title
                  .form-group
                    %input.form-control{:type => "text",:name => "task[title]"}/
                %span.task-action
                  %a.createTaskBtn{:href => "javascript:void(0);", data:{need:@need.id}} 保存
      .modal-footer
        %button.btn.btn-default{:type=>'button', :'data-dismiss' => "modal"} 关闭
        %button.btn.btn-primary{:type=>'button'} 保存
:javascript
  var taskData={
    #{create_canlendar_data_obj_string(@tasks)}
  }
