%section.user-center-section
  .container
    .row
      = render "users/menu"
    .row.background-white
      .col-md-12
        .content
          #notice= notice
          .row.back-project-list
            %p
              %a.back-to-projects.text-center{:href => project_list_user_path(current_user)} 返回项目列表

          - if current_user.id == @need.queen_id then # 我是蚁后
            - case @need.state
            - when '等待甲方'
              = render "queen_waitfor_plan"
            - when '乙方执行'
              = render "queen_begin_plan"
            - when '项目完成'
              = render "task_success_over"
            - else
              = render "queen_create_plan"
          
          - else # 我是甲方
            - case @need.state
            - when '等待甲方'
              = render "partyA_check_plan"
            - when "确认计划"
              = render "partyA_waitfor_plan"
            - when '项目完成'
              = render "task_success_over"
            - else
              = render :partial => "partyA_begin_plan", :locals => {need:@need}


          - if @need.state == '乙方执行' or @need.state == '项目完成'
            = render :partial => "calendar", :locals => {plan:@plans, need:@need}
            = render :partial => "plan_task_list", :locals => {tasks:@tasks}                  


          .row
            %h3.text-center 
              = link_to '项目最终完成', complete_need_path(@need), class: 'btn btn-primary' if @need.state == '乙方执行' and current_user.has_role? :owner

          = render partial: "comment", :locals => {comments:@comments}    
        

.modal#editPlanModal{:tabindex=>"-1", :role => "dialog", :'aria-labelledby' =>"editPlanModalLabel"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %h4.modal-title.pull-left#editTaskModalLabel 新建工作计划
        = link_to "提交计划", waitfor_need_path(@need), class: 'btn btn-info pull-right' 
        %button.btn.btn-default.pull-left{:type=>'button', :'data-dismiss' => "modal"} 暂不提交
      .modal-body.edit-project-plan          
        .edit-plan-list
          - @plans.each do |plan| 
            .plan-unit{:id => "plan-unit-"+plan.id.to_s}
              .plan-output
                %span.plan-time= plan.dead_line
                %span.plan-title= plan.title
                %span.plan-action
                  %a.editPlanBtn{:href => "javascript:void(0);", data: {plan:plan.id.to_s}} 编辑
                  %a.delPlanBtn{:href => "javascript:void(0);", data: {plan:plan.id.to_s}} 删除

              .plan-input.hidden
                %form{:action => "", :id => "plan_f_"+plan.id.to_s}
                  %span.plan-time
                    .form-group
                      %input.form-control.deadLineDataPicker{:type => "text", :name => "plan[dead_line]", :value => plan.dead_line, :readonly => "readonly", :placeholder => "请选择日期"}/
                  %span.plan-title
                    .form-group
                      %input.form-control{:type => "text", :name => "plan[title]",:value => plan.title}/
                  %span.plan-action
                    %a.updatePlanBtn{:href => "javascript:void(0);", data: {plan:plan.id.to_s} } 保存
                    %a.cancleUpdatePlanBtn{:href => "javascript:void(0);", data:{plan:plan.id.to_s}} 取消
          .collapse#new-plan-form
            .plan-unit
              %form{:action => "", :id => "create_plan_form"}
                %span.plan-time
                  .form-group
                    %input.form-control.deadLineDataPicker{:type => "text", :placeholder => "请选择日期", :name => "plan[dead_line]", :readonly => "readonly"}/
                %span.plan-title
                  .form-group
                    %input.form-control{:type => "text",:name => "plan[title]"}/
                %span.plan-action
                  %a.createPlanBtn{:href => "javascript:void(0);", :data => {need:@need.id}} 保存
      .modal-footer
        %a.new-plan.pull-right{:role=>'button', :'data-toggle'=>"collapse", :href => "#new-plan-form", :'aria-expanded'=>"false", :'aria-controls' => "new-plan-form"}
          %span.glyphicon.glyphicon-plus-sign
          新增
        
        

- content_for :page_js_block do
  = javascript_include_tag 'task_fuc.js'

:javascript
  var firstTaskData="#{getFirstTaskData(@plans)}"
  var taskData={
    #{create_canlendar_data_obj_string(@plans)}
  }
  var need_id = #{@need.id}
  var user_id = #{current_user.id}
