<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<% if @task.attachment %>
<p>
  <strong>Attachement</strong>
  <%= link_to File.basename(@task.attachment.url), @task.attachment.url %>
</p>
<% end %>
<p>
  <strong>State:</strong>
  <%= @task.state %>
</p>

<%= link_to 'Back', need_tasks_path(@need,@tasks) %>
