%section.user-center-section
  .container
    .row
      = render "menu"
    .row.background-white
      .col-md-12
        .content
          %h3 项目动态
          %ul
            - if @messages.blank?
              %li 所有消息都读过了
            - @messages.each_with_index do |m,i|
              %li
                %span= m.created_at.strftime('%Y-%m-%d %H:%M:%S').to_s  
                - unless m.opened 
                  %strong= simple_format(m.body)
                - else
                  %span= simple_format(m.body)
                  - m.read
          %p
            = link_to_next_page @messages, '下一页'

