<section class="user-center-section">
  <div class="container">
    <div class="row">
      <%= render "menu"%>
    </div>
  </div>
  <div class="row background-white">
    <div class="col-md-12">
      <div class="content">
        <%= simple_form_for(@user) do |f|%>
          <table class='user-table'>
              <tr>
                <td colspan="2"> </td>
              </tr>
              <tr>
                <td colspan="2">
                  <%= "亲爱的#{current_user.name}，填写真实的资料，有助于好友找到你哦。"%>
                </td>
              </tr>
              <tr>
                <td>当前头像:</td>
                <td><%= f.input :avatar, as: :file, hint: f.object.avatar.nil? ? '' :image_tag(f.object.avatar.small_url) ,label:false %></td>
              </tr>
              <tr>
                <td>邮箱:</td>
                <td><%= f.input :email,  disabled: true, label:false %></td>
              </tr>
              <tr>
                <td>电话号码:</td>
                <td><%= f.input :cell,label:false %></td>
              </tr>
              <tr>
                <td>姓名:</td>
                <td><%= f.input :name,label:false %></td>
              </tr>
              <tr>
                <td>密码:</td>
                <td><%= f.input :password,label:false %></td>
              </tr>
              <tr>
                <td>确认密码:</td>
                <td><%= f.input :password_confirmation,label:false %></td>
              </tr>
              <tr>
                <td colspan="2" style="text-align:center;height:100px">
                  <%= f.button :submit ,value:'提交' %>
                </td>
              </tr>
          </table>
        <% end %>
      </div>
    </div>
  </div>

</section>
