%section.user-center-section
  .container
    .row
      = render "menu"
    .row.background-white
      .col-md-12
        .content
          .caption
            %h3 
              个人资料
              = link_to t('back'), :back, class: 'btn btn-info'
          = simple_form_for(@user) do |f|
            = f.input :email,  disabled: true
            = f.input :name
            = f.input :cell
            = f.input :avatar, as: :file, hint: f.object.avatar.nil? ? '' :image_tag(f.object.avatar.small_url)
            = f.input :password
            = f.input :password_confirmation
            = f.button :submit

				
