%section
  .container
    .row
      .col-md-3
        = render "menu"
      .col-md-9
        .content
          .caption
            %h3= t('user_product')
          - @products.each do |product|
            .col-md-4
              %a{href: product_path(product), class: :thumbnail}
                = image_tag(product.avatar)
                %p= product.title
          .col-md-4
            %a{href: new_product_path, class: 'btn btn-primary'}
              %p= '添加案例'