%section.user-center-section
  .container
    .row
      = render "menu"
    .row.background-white
      .col-md-12
        .content
          .caption
            %h3

          - if @products.blank?
            没有案例
          - else
          - @products.each do |product|
            .col-md-4.color-gray
              .thumbnail
                = image_tag(product.avatar.small_url)
                .p-box
                  %p= product.title
                  %p
                    %b 客户:
                    = product.client_name
                  %p
                    %b 参考价格:
                    = product.ref_price
                  %p
                    = image_tag('homepage/like_o.png')
                    %span
                      = product.votes_for.size
                    = image_tag('homepage/share.png')
                    %span
                      = product.followers_count
                  .div
                    =# link_to t('show'), product, class: 'btn btn-primary'
                    = link_to t('edit'), edit_queen_work_path(product), class: 'btn-main-color btn-small'
                    = link_to t('destroy'), product, method: :delete, data: { confirm: 'Are you sure?' } , class: 'btn-main-color btn-small'
      = link_to t('添加案例'), new_queen_work_path, class: "btn btn-main-color btn-big new-product-btn"      
