%section.user-center-section
  .container
    .row
      = render "menu"
    .row.background-white
      .col-md-12
        .content
          .caption
            %h3
              = t('user_product')
              = link_to t('new_need'), new_need_path, class: "btn btn-primary" if current_user.has_role? :owner 

          - if @products.blank?
            没有项目 
          - else             
            %table.table
              %thead
                %tr
                  %th 项目名称
                  %th 截止时间
                  %th 项目类型
                  %th 项目状态
                  %th 
              %tbody
                - @products.each do |product|
                  %tr
                    %td= link_to product.title, product_path(product)
                    %td= product.final_date
                    %td= product.category
                    %td= product.state
                    %td
                      - if product.state == '等待审核' or product.state == '审核拒绝'
                        = link_to t('edit'), edit_need_path(product), class: 'btn btn-primary' 
                        = link_to t('destroy'), product, method: :delete, data: { confirm: 'Are you sure?' } , class: 'btn btn-primary' 
                      - else
                        = link_to '日程计划', need_tasks_path(product), class: 'btn btn-info' 




