<section class="user-center-section">
  <div class="container">
    <div class="row">
      <%= render "menu"%>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="content table-box background-white">
          <table class='user-table'>
              <tr>
                <td colspan="2" style="border-top:0;border-right:0;">
                  <%= link_to content_tag(:i,"编辑资料",:class=>"glyphicon glyphicon-pencil"), edit_user_path(@user), class: 'btn btn-edit' %>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <%= "亲爱的#{current_user.name}，填写真实的资料，有助于好友找到你哦。"%>
                </td>
              </tr>
              <tr>
                <td style="width:135px;">姓名:</td>
                <td><%= @user.name %></td>
              </tr>
              <tr>
                <td>头像:</td>
                <td><%= image_tag @user.avatar.small_url ,class: 'user_avatar' %></td>
              </tr>
              <tr>
                <td>邮箱:</td>
                <td><%= @user.email %></td>
              </tr>
              <tr>
                <td>手机:</td>
                <td><%= @user.cell %></td>
              </tr>
              <tr>
                <td>简介:</td>
                <td><%= @user.description %></td>
              </tr>
              <tr>
                <td>审核:</td>
                <td>
                  <span class="txt-gray" style="margin-right:20px"><%= @user.state %></span>
                  <% if @user.has_role? :visitor %>
                    <span class="btn-main-color btn-small">普通用户</span>
                  <% end %>
                  <% if @user.has_role? :admin %>
                    <span class="btn-main-color btn-small">管理员</span>
                  <% end %>
                  <% if @user.has_role? :queen %>
                    <span class="btn-main-color btn-small">蚁后</span>
                  <% end %>
                  <% if @user.has_role? :owner %>
                    <span class="btn-main-color btn-small">甲方</span>
                  <% end %>
                </td>
              </tr>
              <tr>
                <td colspan="2" style="text-align:center;height:150px;border-bottom:0;">
                  <p>
                    <% if @user.has_role? :visitor %>
                      <%= link_to t("身份认证"), choose_user_path(@user), class: 'btn btn-main-color btn-big' %>
                    <% end %>
                  </p>
                </td>
              </tr>
          </table>
      </div>
    </div>
  </div>

</section>
