<p>
  <strong><%= User.human_attribute_name(:email) %></strong>
  <%= @user.send(:email) %>
</p>
<p>
  <strong><%= User.human_attribute_name(:name) %></strong>
  <%= @user.send(:name) %>
</p>
<p>
  <strong><%= User.human_attribute_name(:cell) %></strong>
  <%= @user.send(:cell) %>
</p>
<p>
  <strong><%= User.human_attribute_name(:company) %></strong>
  <%= @user.send(:company) %>
</p>
<p>
  <strong><%= User.human_attribute_name(:avatar) %></strong>
  <%= image_tag(@user.avatar_url) %>
</p>
<%= link_to t(:edit), edit_user_path(@user) %>
<%= link_to t(:back), :back %>
