.row
  - @products.order('id DESC').each_with_index do |product,i|
    - if i%2==0
      .product
        .productBlock
          .product-image
            - if product.avatar
              - if product.avatar.file and %w{jpg png gif bmp}.include?(product.avatar.file.extension.downcase)
                = link_to(image_tag(product.avatar.url + "?imageView2/0/h/480"), product, target: '_blank')
              - if product.avatar.file and %w{mp4 webm}.include?(product.avatar.file.extension.downcase)
                = link_to(video_tag(product.avatar.url, poster:product.avatar.small_url,controls: "controls"), product, target: '_blank')
                


          .caption.bordered.background-white
            %h3= link_to(product.title, product) unless product.title.nil?
            .description

              %p
                %b 客户:
                = product.client_name
              %p
                %b 参考价格:
                = product.ref_price
              %p
                = image_tag('homepage/like_o.png')
                %span
                  = product.votes_for.size
                = image_tag('homepage/share_o.png')
                %span
                  = product.followers_count

    - else
      .product.right
        .productBlock
          .product-image
            - if product.avatar
              - if product.avatar.file and %w{jpg png gif bmp}.include?(product.avatar.file.extension.downcase)
                = link_to(image_tag(product.avatar.url + "?imageView2/0/h/480"), product, target: '_blank')
              - if product.avatar.file and %w{mp4 webm}.include?(product.avatar.file.extension.downcase)
                %video{ src: product.avatar.url , controls: "controls"}


          .caption.bordered.background-white
            %h3= link_to(product.title, product) unless product.title.nil?
            .description

              %p
                %b 客户:
                = product.client_name
              %p
                %b 参考价格:
                = product.ref_price
              %p
                = image_tag('homepage/like_o.png')
                %span
                  = product.votes_for.size
                = image_tag('homepage/share_o.png')
                %span
                  = product.followers_count
