<div id='products'>
  <h3>案例展示</h3>
  <ul class='nav nav-pills'>
    <li class='nav-item'>
      <a class="nav-link active" href='#'>效果图</a>
    </li>
    <li class='nav-item'>
      <a class="nav-link " href='#'>影片</a>
    </li>
    <li class='nav-item'>
      <a class="nav-link " href='#'>多媒体</a>
    </li>
  </ul>

  <div name='products'>
    <% @products.each do |product| %>
      <div>
        <td><%= link_to image_tag(product.avatar, size: '128x128'), product %></td>
        <td><%= link_to product.title, product %></td>
        
        <td><%= product.client_name %></td>
        <td><%= product.ref_price %></td>
        <td><%= product.category %></td>
      </div>
    <% end %>  
  </div>
</div>
  
 
