
%section.product_list_section.color-black
  .container
    .row.product_list_header
      .col-lg-6.col-sm-12
        %h2
          %span.product_list_header_icon
          案例展示
      .col-lg-6.col-sm-12
        %ul.nav.nav-pills.pull-right
          %li.nav-item
            =link_to "效果图", products_path(category: "效果图"), class: "nav-link active"
          %li.nav-item
            =link_to "影片", products_path(category: "影片"), class: "nav-link"
          %li.nav-item
            =link_to "多媒体", products_path(category: "多媒体"), class: "nav-link"
    .row
      - @products.each do |product|
        .product.col-sm-6.col-md-6
          .productBlock
            .thumbnail.info-thumbnail
              - unless product.avatar.nil?
                = link_to(image_tag(product.avatar.small_url), product) unless product.avatar.nil?
              - else
                %img{:alt => "...", :src => image_path("neat/img#{product.id}.jpg")}/

            .caption.bordered.background-white
              %h3= link_to(product.title, product) unless product.title.nil?
              .description
                %p
                  %b 案例类型:
                  = product.category
                %p
                  %b 委托客户:
                  = product.client_name
                %p
                  %b 参考价格:
                  = product.ref_price

              %p.buttons
                = link_to '查看详情', product, class: 'btn btn-lead'
        