
%section.product_list_section.color-black
  .container
    .row
      .col-lg-6.col-sm-12
        %h2.text-center.x-large 案例展示
      
      .col-lg-6.col-sm-12
        %ul.nav.nav-pills.pull-right
          %li.nav-item
            =link_to "效果图", root_url(category: "效果图"), class: "nav-link"
          %li.nav-item
            =link_to "影片", root_url(category: "影片"), class: "nav-link"
          %li.nav-item
            =link_to "多媒体", root_url(category: "多媒体"), class: "nav-link"
    .row
      - @products.each do |product|
        .col-sm-4.col-md-4
          .info-thumbnail-link
            .thumbnail.info-thumbnail.with-icon.background-clouds.color-text
              - unless product.avatar.nil?
                = link_to(image_tag(product.avatar.small_url), product) unless product.avatar.nil?
              - else
                %img{:alt => "...", :src => image_path("neat/img#{product.id}.jpg")}/
              .caption.bordered.background-white
                %h3= link_to(product.title, product) unless product.title.nil?
                %p.description{:style => "height: 10px;"}
                  %div
                    %b 案例类型:
                    = product.category
                  %div
                    %b 委托客户:
                    = product.client_name
                  %div
                    %b 参考价格:
                    = product.ref_price
                  
                %p.buttons
                  = link_to 'Read more', product, class: 'btn btn-lead'
        