%section.queens_page_list
  .container
    .row
      .col-md-12
        %h2
          %span.queens_page_list_header_icon
          认证蚁后
    .row
      .col-lg-12
        = search_form_for @q do |f|  
          .form-group
            = f.search_field :name_cont
            = submit_tag('搜索蚁后')    
    .row
      - @queens.each do |queen|
        .col-md-6.queen
          %a{:href => queen_path(queen)}
            .queen_avatar.text-right
              = image_tag(image_path(queen.avatar_url), class: 'img-circle')
            .queen_name_desc
              %h4
                %strong= queen.name
              %p
                = queen.description if queen.description
