%section.queen_info
  .container
    .row
      .col-md-2.text-center
        = image_tag(@queen.avatar.small_url , class: 'img-circle')

      .col-md-4
        %h4= @queen.send(:name)
        %p= @queen.description

%section.queen_comments
  .container
    .row
      .col-md-12
        .queen_comments_wapper
          .width-15
            %h4 甲方评价
          .width-35
            %p.margin-top-20
              交货速度
              %span
                %span
                %span
                %span
                %span
                %span
            %p
              作品质量
              %span
                %span
                %span
                %span
            %p
              服务态度
              %span
                %span
                %span
                %span
          .width-15
            %h4 网友点赞
          .width-35
            %h5 2000

%section.queen_cases_title
  .container
    .row
      .col-md-12
        %h2
          %span.queen_cases_header_icon
          相关案例
%section.queen_cases
  .container
    = render :partial => 'shared/product_list'


= render :partial => 'shared/ant_list'

-content_for :page_js_block do
  - javascript_include_tag 'queen_show.js'
  - javascript_include_tag 'welcome.js'
