<ol class="breadcrumb">
  <li><%= link_to 'Home', root_url %></li>
  <li><%= link_to '蚁后', queens_url %></li>
  <li class="active"><%= @queen.name %></li>
</ol>

<p>
  <%= image_tag(@queen.avatar_url) %>
</p>
<p>
  收藏（<%= @queen.follow_count %>）
</p>
<p>
  <%= @queen.send(:name) %>
</p>
<p>
  <%= @queen.state %>
</p>
<p>
  <%= @queen.description %>
</p>

<p>
  甲方评价
</p>
<p>
  交货速度
  作品质量
  服务态度
</p>

<p>
  网友点赞：
</p>

<p>相关案例</p>

<%= link_to t(:edit), edit_queen_path(@queen) %>
<%= link_to t(:back), :back %>
