%section.queen_info
  .container
    .row
      .col-md-2.text-center
        = image_tag(@queen.avatar.small_url , class: 'img-circle')

      .col-md-10
        %h4= @queen.send(:name)
        %p= @queen.description

%section.queen_comments
  .container
    .row
      .col-md-12
        .queen_comments_wapper
          .width-15
            %h4 甲方评价
          .width-35
            %p.margin-top-50 
              交货速度
              %span
                %span
                %span
                %span
                %span
                %span
            %p 
              作品质量
              %span
                %span
                %span
                %span
            %p
              服务态度
              %span
                %span
                %span
                %span
          .width-15
            %h4 网友点赞
          .width-35
            %h5 2000

%section.queen_cases
  .container
    .row
      .col-md-12
        %h2
          %span.queen_cases_header_icon
          相关案例
          = render :paratail => 'shared/product_list'


= render :partial => 'shared/ant_list'
= render :partial => 'welcome/ants_feature'
= render :partial => 'welcome/contact_section'
