<ol class="breadcrumb">
  <li><%= link_to 'Home', root_url %></li>
  <li><%= link_to '蚁后', queens_url %></li>
  <li class="active"><%= @queen.name %></li>
</ol>

<p>
  <%= image_tag(@queen.avatar_url) %>
</p>
<p>
  收藏（<%= @queen.followers_count %>）
</p>
<p>
  <%= @queen.send(:name) %>
</p>
<p>
  <%= "已认证" %>
</p>
<p>
  <%= "参与了绿地中心，万科花园，擅长动画后期" %>
</p>

<p>
  甲方评价
</p>
<p>
  交货速度
  作品质量
  服务态度
</p>

<p>
  网友点赞：<%= "10" %>
</p>

<p>相关案例</p>
