<footer class='background-midnight-blue color-white'>
  <div class="container">
    <div class='row'>
      <div class='col-md-1'>
      </div>
      <div class='col-md-2'>
        <h6 class="text-center">关注微信号</h6>
        <%= image_tag('qr.png', size: '112x112')%>
      </div>
      <div class='col-md-2'>
      </div>
      <div class='col-md-2'>
        <h3>新手入门</h3>
        <div class="right-line"></div>
        <ul class='nav-footer'>
          <li><%= link_to '我是蚁后',teach_queen_url %></li>
          <li><%= link_to '我是甲方',teach_owner_url %></li>
        </ul>

      </div>
      <div class='col-md-2'>
        <h3>交易保障</h3>
        <ul class='nav-footer'>
          <li><%= link_to '交易流程', teach_trading_process_url %></li>
          <li><%= link_to '联系客服', teach_custom_list_url %></li>
          <li><%= link_to '规则中心', teach_rule_center_url %></li>
          <li><%= link_to '投诉中心', complain_url %></li>

        </ul>
        <div class="right-line"></div>
      </div>
      <div class='col-md-2'>
      <h3>平台简介</h3>
        <ul class='nav-footer'>
          <li><%= link_to '平台简介',teach_introduce_url %></li>
        </ul>
      </div>

    </div>
  </div>
  <div class="footNav">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-12 text-center">
                  copyright 2015antsrepublic.com 版权所有 沪ICP备
                </div>
              </div>
            </div>
        </div>
    </div>
  </div>
</footer>
