<footer class='background-midnight-blue color-white'>
  <div class="container">
    <div class='row'>
      <div class='col-md-1'>
      </div>
      <div class='col-md-2'>
        <h6 class="text-center">关注微信号</h6>
        <%= image_tag('qr.png', size: '112x112')%>
      </div>
      <div class='col-md-2'>
      </div>
      <div class='col-md-2'>
        <h3>新手入门</h3>
        <ul class='nav-footer'>
          <li>什么是蚁后</li>
          <li>如何成为蚁后</li>
          <li>会员帮助</li>
          <li>如何发布需求</li>
        </ul>
      </div>
      <div class='col-md-2'>
        <h3>关于我们</h3>
        <ul class='nav-footer'>
          <li><%= link_to '平台简介', page_path("introduction") %></li>
          <li><%= link_to '核心功能', page_path("core_function") %></li>
          <li><%= link_to '数据展示', page_path("data_show") %></li>
          <li><%= link_to '合作伙伴', page_path("partner") %></li>
          <li><%= link_to '联系方式', page_path("contact") %></li>
        </ul>
      </div>
      <div class='col-md-2'>
      <h3>平台合作</h3>
        <ul class='nav-footer'>
          <li>进驻平台</li>
          <li>合作伙伴</li>
          <li>维权中心</li>
        </ul>
      </div>
      
    </div>
  </div>
  <div class="footNav">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-12 text-center">
                  copyright 2015antsrepublic.com 版权所有 沪ICP备
                </div>
              </div>
            </div>
        </div>
    </div>
  </div>
</footer>
