%section.partner_list
  .parter_logo_container.row.owl-carousel.owl-theme.case-carousel
    .logo.text-center
      .logo-img
        = image_tag( "homepage/pl1.jpg" )
      .logo-img
        = image_tag( "homepage/pl2.jpg" )
    .logo.text-center
      .logo-img
        = image_tag( "homepage/pl3.jpg" )
      .logo-img
        = image_tag( "homepage/pl4.jpg" )
    .logo.text-center
      .logo-img
        = image_tag( "homepage/pl5.jpg" )
      .logo-img
        = image_tag( "homepage/pl6.jpg" )
    .logo.text-center
      .logo-img
        = image_tag( "homepage/pl7.jpg" )
      .logo-img
        = image_tag( "homepage/pl8.jpg" )
