<%= simple_form_for(@queen_work) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>

    <%= f.input :avatar, as: :file, hint: f.object.avatar.present? ? image_tag(f.object.avatar.small_url, size: '128x128') : content_tag(:span, '没有上传任何图片') %>
    <%= f.input :avatar_cache , as: :hidden %>
    <%= f.input :client_name %>
    <%= f.input :ref_price %>

    <%= f.input :category, collection: [['效果图','效果图'],["影片","影片"],["多媒体","多媒体"]], required: true, label: false  %>
    <%#= f.input :main_media %>
    <%= f.input :description %>
    
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>


<%- if @queen_work.id.present? -%>
  <%= form_for [@queen_work, @attachment], :html => { :multipart => true, :id => "fileupload"  } do |f| %>
    <div class="row">
      <div class=" fileupload-buttonbar">
        <div class="progressbar fileupload-progressbar nofade"><div style="width:0%;"></div></div>
        <span class="btn btn-mini fileinput-button">
          <i class="icon-plus"></i>
          <span><%= '添加附件' %>...</span>
          <%= f.file_field :file %>
        </span>
      </div>
    </div>
    <br>
    <div class="row">
      <ul class="thumbnails files">
        <% unless @attachments.empty? %>
          <% @attachments.each do |attachment| %>
              <li class="span3" id="attachment_<%= attachment.id %>">
              <%= link_to image_tag attachment.file.url, attachment.file.url %>
              </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>

  <script>
    var fileUploadErrors = {
      maxFileSize: 'File is too big',
      minFileSize: 'File is too small',
      acceptFileTypes: 'Filetype not allowed',
      maxNumberOfFiles: 'Max number of files exceeded',
      uploadedBytes: 'Uploaded bytes exceed file size',
      emptyResult: 'Empty file upload result'
    };
  </script>
<%-end-%>

<%= content_for :page_js_block do%>
<script>
$(function () {
    $('#attachment_file').fileupload({
        url: '/api/queen_works/<%= @queen_work.id %>/attachments',
        dataType: 'json',
        done: function (e, data) {
            $.each(data.result.files, function (index, file) {
                $('<p/>').text(file.name).appendTo(document.body);
            });
        }
    });
});
</script>
<% end %>


