<%= simple_form_for(@product) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= image_tag @product.avatar.url , size: "128x128" if @product.avatar  %>
    <%= f.input :avatar %>
    <%= f.input :client_name %>
    <%= f.input :ref_price %>
    <%= radio_button(:product, :category, "效果图") %>效果图
    <%= radio_button(:product, :category, "影片") %>影片
    <%= radio_button(:product, :category, "多媒体") %>多媒体
    <%#= f.select :category, options_for_select([ "效果图", "影片", "多媒体" ], "效果图") %>
    <%= f.input :main_img %>
    <%= f.input :description %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
