%section.products_section
  .container
    .row
      .col-lg-12
        = search_form_for @q do |f|
          .form-group
            .input-group
              .input-group-btn
                %button.btn.btn-default.dropdown-toggle{"data-toggle"=>'dropdown',:type=>'button'}
                  效果图
                  %span.caret
                %ul.dropdown-menu.category_dropdown_menu{:role=>"menu"}
                  %li
                    %a{:href=>"#", 'data-category'=>'效果图'} 效果图
                    %a{:href=>"#", 'data-category'=>'影片'} 影片
                    %a{:href=>"#", 'data-category'=>'多媒体'} 多媒体
              = hidden_field_tag('q[category_eq]', @q.category_eq)
              = text_field_tag('q[title_cont]', @q.title_cont, class:'form-control')

              =image_tag(image_path('queens_work/search.png'),class:'search-btn')






  .container.product_list_normal
    = render "shared/product_list_normal"
    = paginate @products
- content_for :page_js_block do
  = javascript_include_tag 'queen_works.js'
