<section class="products_section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="form-group">
          <%=search_field(:user, :name, class:'form-control', placeholder:'搜索案例')%>
        </div>
      </div>
    </div>
    <div class="row project_tags_block">
      <div class="col-lg-12">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-pills nav-stacked" role="tablist">
          <%- @i = 0 -%>
          <%- @tags.each do |tag_list|-%>
          <li role="presentation" 
            <%- if @i == 0 -%>
              class="active"
            <%- end -%>
          >
            <a href="#<%= tag_list[1][0]['id'] %>" aria-controls="home" role="tab" data-toggle="tab">
              <%= tag_list[0]%>
            </a>
          </li>
          <%- @i += 1 -%>
          <%- end -%>
        </ul>


        <!-- Tab panes -->
        <div class="tab-content">
          <%- @i = 0 -%>
          <%- @tags.each do |tag_list|-%>
          
          <div role="tabpanel" class="tab-pane 
            <%- if @i == 0 -%>
              active
            <%- end -%>
          " id="<%= tag_list[1][0]['id'] %>">
            <% tag_list[1][1]['tags'].each do |tag| %>
            <span class="tag">
              <%= check_box_tag 'tags[]', tag  %> 
              <label for=""><%= tag %></label>
            </span>

            <% end %>

          </div>
          <%- @i += 1 -%>
          <%- end -%>
        </div> 
      </div>
    </div>
    <div class="row product_list_header">
      <div class="col-lg-6 col-sm-12">
        <h2>
          <span class="product_list_header_icon"></span>
          案例展示
        </h2>
      </div>
    </div>
          
    <div class="row">
      <%- @products.each do |product| -%>
      <div class="product col-sm-6 col-md-6">
        <div class="productBlock">
          <div class="thumbnail info-thumbnail">
            <%- unless product.avatar.nil? -%>
            <%= link_to(image_tag(product.avatar.small_url), product) unless product.avatar.nil?%>
            <%- else -%>
              <img src="image_path('neat/img#{product.id}.jpg')" alt="" />
            <%- end -%>
          </div>
          <div class="caption borderd background-white">
            <h3>
              <%= link_to(product.title, product) unless product.title.nil?%>
            </h3>
            <div class="description">
              <p>
                <b>案例类型:</b>
                <%= product.category%>
              </p>
              <p>
                <b>委托客户:</b>
                <%= product.client_name%>
              </p>
              <p>
                <b>参考价格:</b>
                <%= product.ref_price%>
              </p>
            </div>
            <p class="buttons">
              <%=link_to '查看详情', product, class: 'btn btn-lead'%>
            </p>
          </div>
        </div>
      </div>
      <%- end -%>
    </div>
  </div>
</section>