%section.queens_work_slider
  #links{style: "display:none"}
    = link_to image_tag(@product.avatar.small_url), image_path(@product.avatar.small_url, alt: '万科1'), title: @product.title

  #blueimp-gallery-carousel.blueimp-gallery.blueimp-gallery-carousel
    .slides
    %a.prev
    %a.next
    %ol.indicator

%section.queens_work_title
  .container
    .row
      .col-md-10
        %p
          %strong= @product.title
      .col-md-2        
        - unless current_user.following? @product
          %a{:href => follow_it_queen_work_path(@product), :title => "收藏" }
            %span.bookmark_icon
          / = @product.followers_count
        - else
          %a{:href => follow_it_queen_work_path(@product), :title => "收藏" }
            %span.bookmark_icon.unbookmark
          / = @product.followers_count



        - unless current_user.voted_for? @product
          %a{:href => vote_it_queen_work_path(@product), :title => "点赞"}
            %span.like_icon
        - else
          %span.like_icon.liked
        / - end
    
%section.queens_work_desc
  .container
    .row
      .col-md-12
        %h2
          %span.desc_title_icon
          %strong 项目说明
        %p.ref_price
          参考价格：
          %strong= @product.ref_price
        %p
          = @product.description
      
%section.queens_work_queen
  .container
    .row
      .col-md-2
        .avatar_wapper.text-center
          = image_tag(image_path("queens/avatar.jpg"), class: 'img-circle')
        %p.text-center
          %strong= @product.queen.name 
          
      .col-md-10
        .col-md-10
          .clientStarAndLike
            .width-15
              %h4 甲方评价
            .width-35
              %p.margin-top-20 
                交货速度
                %span
                  %span
                  %span
                  %span
                  %span
                  %span
              %p 
                作品质量
                %span
                  %span
                  %span
                  %span
              %p
                服务态度
                %span
                  %span
                  %span
                  %span
            .width-15.text-right
              %h4 网友点赞
            .width-35
              %strong.like-num
                #{@product.votes_for.size}

%section.queens_work_client
  .container
    .row
      .col-md-2
        .avatar_wapper.text-center
          = image_tag(image_path("queens_work/client_avatar.jpg"), class: 'img-circle')
        %p.text-center
          / %strong= @product.client_name
          %strong 甲方



%section.queens_work_likes
  .container
    .row
      .col-md-6
        %h4 点赞历史
      .col-md-6
        %h4 相关案例
= render :partial => 'welcome/ants_feature'
= render :partial => 'welcome/contact_section'
      
%section.queens_work_edit
  / %p
  /   %h3 more pic
  /   - @product.uploads.each do |item|
  /     %span= image_tag item.media.url

  - if logged_in? and @product.is_my?(current_user.id)
    = link_to 'add more media', new_upload_path(product_id: @product.id), class: 'btn btn-primary'
    |  
    = link_to 'Edit', edit_product_path(@product)
    |
    \#{link_to 'Destroy', product_path(@product), method: :delete, data: { confirm: 'Are you sure?' }} |
    |
    = link_to t('back'), product_list_user_path(current_user)


