<footer>
  <p>合作伙伴</p>
  <p>关于我们</p>
  <ul>
    <li><%= link_to '平台简介', page_path("introduction") %></li>
    <li><%= link_to '核心功能', page_path("core_function") %></li>
    <li><%= link_to '数据展示', page_path("data_show") %></li>
    <li><%= link_to '合作伙伴', page_path("partner") %></li>
    <li><%= link_to '联系方式', page_path("contact") %></li>
  </ul>
  <p>帮助说明</p>
  <p>&copy; 2016 Ants Republic</p>
  <p>备案信息</p>
</footer>