- if current_page?(root_path) 
  - fixedNav = 'fixed-nav'
  - isaffix = "affix"
  - affixOffset = "1"

#nav-wrapper.background-white.color-black{:class => fixedNav, 'data-spy'=> isaffix, 'data-offset-top'=> affixOffset}
  %div.topNav
    .container
      .row
        %ul.nav.navbar-nav.center-block
               
          - if logged_in?
            %li
              = "你好, #{current_user.name}"
            %li 
              = link_to '个人中心', dashboard_user_path(session[:user_id])
            %li  
              = link_to t('我的项目'), project_list_user_path(current_user)
            %li
              = link_to dashboard_user_path(current_user) do
                消息中心
                %span.badge.badge-danger
                  = message_count
            %li
              = link_to t('logout'), logout_path, method: :delete 
          - else
            %li
              %a{:href => signup_path}
                %img{:src => image_path("icon_login.png")}
                注册
            %li
              %a{:href => login_path}
                %img{:src => image_path("icon_profile.png")}
                登录

          %li
            %img{:src => image_path("icon_telephone.png")}  
            4000 - 5566 - 36

  %nav#mainMenu.navbar{:role => "navigation"}
    .container
      .row
        
        / Brand and toggle get grouped for better mobile display
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar.background-lead
            %span.icon-bar.background-lead
            %span.icon-bar.background-lead
          %a.navbar-brand{:href => root_path}
            %img{:alt => "logo", :src => image_path("Ant-52.png")}>/

      
        //.navbar-collapse
        .collapse.navbar-collapse.navbar-ex1-collapse
          %form.navbar-form.navbar-right
            .input-group
              .input-group-btn
                %button.btn.btn-default.dropdown-toggle{"data-toggle"=>'dropdown',:type=>'button'} 
                  找蚁后
                  %span.caret
                %ul.dropdown-menu{:role=>"menu"}
                  %li
                    %a{:href=>"#"} 找蚁后
                    %a{:href=>"#"} 搜案例
              %input.form-control{:type=>"text"}     
              .input-group-btn
                %button.btn.btn-default{:type => 'button'}
                  %span.glyphicon.glyphicon-search    

            %a.btn.btn-default{:href=>new_need_path} 发项目        
            %a.btn.btn-default{:href=>queen_works_path} 搜案例        
            %a.btn.btn-default{:href=>queens_path} 找蚁后        



