#nav-wrapper.background-white.color-black
  %div.topNav
    .container
      .row
        %ul.nav.navbar-nav.center-block
               
          - if logged_in?
            %li
              = "你好, #{current_user.name}"
            %li 
              = link_to '个人中心', dashboard_user_path(session[:user_id])
            %li
              = link_to t('logout'), logout_path, method: :delete 
          - else
            %li
              = link_to( t('signup'), signup_path ) 
            %li
              = link_to t('login'), login_path
          %li  
            = link_to t('联系客服'), '#'
          %li  
            = link_to t('网站导航'), '#' 
          %li
            %img{:src => image_path("icon_telephone.png")}  
            4000 - 5566 - 36

  %nav#mainMenu.navbar{:role => "navigation"}
    .container
      .row
        
        / Brand and toggle get grouped for better mobile display
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar.background-lead
            %span.icon-bar.background-lead
            %span.icon-bar.background-lead
          %a.navbar-brand{:href => root_path}
            %img{:alt => "logo", :src => image_path("Ant-52.png")}>/

      
        //.navbar-collapse
        .collapse.navbar-collapse.navbar-ex1-collapse
          %form.navbar-form.navbar-right
            %button.btn.btn-default.btn-lg{:type => 'btn'}
              %span.glyphicon.glyphicon-search            



