- if current_page?(root_path) 
  - fixedNav = 'fixed-nav'
  - isaffix = "affix"
  - affixOffset = "1"

#nav-wrapper.background-white.color-black{:class => fixedNav, 'data-spy'=> isaffix, 'data-offset-top'=> affixOffset}
  %div.topNav
    .container
      .row
        .global_logo
          %a{:href => root_path}
            %img{:src => image_path("homepage/global_logo.png")}
        %ul.nav.navbar-nav.center-block
               
          - if logged_in?
            %li
              = "你好, #{current_user.name}"
            %li 
              = link_to '个人中心', dashboard_user_path(session[:user_id])
            %li  
              = link_to t('我的项目'), project_list_user_path(current_user)
            %li
              = link_to dashboard_user_path(current_user) do
                消息中心
                %span.badge.badge-danger
                  = message_count
            %li
              = link_to t('logout'), logout_path, method: :delete 
          - else
            %li
              %a{href: signup_path, class: 'no_login'}
                %img{:src => image_path("icon_login.png")}
                注册
            %li
              %a{href: login_path, class: 'no_login'}
                %img{:src => image_path("icon_profile.png")}
                登录

          %li.phone_num
            |&nbsp
            %img{src: image_path("icon_telephone.png"), class: 'icon_telephone'}
            4000 - 5566 - 36

  %nav#mainMenu.navbar{:role => "navigation"}
    .container
      .row
        

      
        //.navbar-collapse
        .nav_top_form
          %form.navbar-form
            .input-group
              .input-group-btn
                %button.btn.btn-default.dropdown-toggle{"data-toggle"=>'dropdown',:type=>'button'} 
                  找蚁后
                  %span.caret
                %ul.dropdown-menu{:role=>"menu"}
                  %li
                    %a{:href=>"#"} 找蚁后
                    %a{:href=>"#"} 搜案例
              %input.form-control{:type=>"text"}     
              .input-group-btn
                %button.btn.btn-default{:type => 'button'}
                  %span.glyphicon.glyphicon-search    
            .nav_quick_btn
              %a{:href=>new_need_path} 发项目        
              %a{:href=>queen_works_path} 搜案例        
              %a{:href=>queens_path} 找蚁后        



