<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= t(:title) %></title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'neat/neat-blue'%>
  <%= stylesheet_link_tag 'gallery/blueimp-gallery.min'%>
  <%= csrf_meta_tags %>

</head>
<body>
  <div class="container background-clouds">
    <%= render 'layouts/header' %>
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>

    <%= yield %>
    <%= render 'layouts/footer' %>
  </div>


<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'gallery/jquery.blueimp-gallery.min.js' %>
<%= javascript_include_tag 'gallery/blueimp-gallery.min.js' %>
<%= javascript_include_tag 'welcome.js' %>
</body>


</html>
