<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <title><%= t(:title) %></title> -->
  <title>蚂蚁共和</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'neat/neat-blue'%>
  <%= stylesheet_link_tag 'owlcarousel/owl.carousel.min.css'%>
  <%= stylesheet_link_tag 'owlcarousel/owl.theme.default.min.css'%>

  <%= csrf_meta_tags %>
</head>
<body style="background:#f2f2f2">

  <%= render 'layouts/header' %>
  <%= if !current_page?(root_path)
        render 'layouts/breadcrumb'
      end
  %>

  <%= yield %>

  <%= if !current_page?(root_path)
        render 'layouts/footer'
      else
        render 'welcome/homepage_footer'
      end
  %>


  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= yield :page_js_block %>


</body>


</html>
